body {
    background-color: Red;
    text-align: Center;
    color: white;
}

.line {
    height: 6px;
    width: 100px;
    background-color: white;
    text-align: center;
    margin: 8px auto;
}

p {
    font-size: 25px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0.83;
    display: table;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#FF0000 30%, #FFFF00 70%);
    z-index: 9;
}